@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);
/* @import "/Users/Morgan/Desktop/RC/demo-day-project/node_modules/bulma/css/bulma.css"; */


* {
	box-sizing:border-box;
}

.post-it {
    background:#ffa;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
}

.completedPostIt{
    background: rgb(177, 235, 187);
}

.postitTitle{
    font-family: 'Permanent Marker', cursive;
}